.header {
	float: left;
	padding-bottom: 12px;
	top: 0;
	left: 0;
	width: 100%;
}

.header img {
	border: solid;
}

.header-navbar {
	z-index: 1;
}

.header-navbar a {
	text-decoration: none;
	border-style: solid;
	color: #000000;
	background-color: #ffe989;
	font-weight: bold;
	font-family: "Helvetica", sans-serif;
}

.header-navbar a:hover {
	color: #1338be;
}

.header-navbar a.active {
	color: #b22222;
}

.selectlist {
	text-align: center;
    overflow: hidden;
}
 
.selectlist .dropbtn {
	background-color: #ffe989;
    color: #000000;
	border: solid;
    font-weight: bold;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
}
  
  
.selectlist-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
  
.selectlist-content a {
    float: none;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.selectlist:hover .selectlist-content {
    display: contents;
}

.footer-navbar {
	z-index: 1;
}

.footer-navbar {
    bottom: 0px;
    right: 0px;
    background-color:#c5bdbd;
	float: right;
	position: fixed;
}

.footer-navbar a {
    float: left;
    padding: 14px 16px;
   	text-align: center;
    background-color: #ffffff00;
    color: #000000;
    font-size: 16px;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
} 

.footer-navbar a:hover {
	font-weight: bold;
    color: #0d1e69;
}

.footer-navbar a.active {
	font-weight: bold;
    background-color: #1f2964;
    color: #ffffff;
}

.products{
    font-family: Georgia, 'Times New Roman', Times, serif;
	color: #7e1616;
    text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border-style: solid;
	box-sizing: border-box;
	background-color: #ffdabc;
}
.recommend_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
	color: #7e1616;
    text-align: center;
}
.products a{
	color: #000000;
	text-decoration: none;
}

.footer {
	float: left;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.footer p {
	font-family: "Helvetica", sans-serif;
	margin: auto;
	text-align: center;	
}

.products-general {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
}

.plist {
	float: left;
	padding-bottom: 25px;
	box-sizing: border-box;
	width: 100%;
	overflow-y: auto;
	flex-direction: row;
	display: flex;
}
.pcolumn {
	float: left;
	width: 50%;
	min-width: 24%;
	display: block;
}

.pcolumn-browse {
	float: left;
	margin: 0 auto;
	width: 50%;
	box-sizing: border-box;
}

.pcard-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	background-color: #fafafa;
	box-sizing: border-box;
	overflow: auto;
	margin: 8px;
}

.pcard-box-border {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	background-color: #fafafa;
	box-sizing: border-box;
	border: solid;
	border-width: thin;
}

.products-categories {
	color:  #0d1e69;
	text-align: center;
	text-decoration: underline;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 23px;
}

.pcard-box a {
	text-decoration: none;
	color: #000000;
}

.form_p {
	text-align: right;
	padding: 10px;
}

.form_p textarea {
	resize: none;
	width: 100%;
}

.form {
    margin: 10px 100px;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.form h1 {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
}

.form textarea {
	resize: none;
	width: 100%;
}
.pptos {
	border-style: solid;
    font-family: "Helvetica", sans-serif;
	padding: 10px;
    margin:10px 100px;
	background-color: #fffdd0;
}

.pptos a {
	text-decoration: none;
}

.abtus-content {
	width: 95%;
	margin: auto;
	float: center;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.abtus-content h2 {
	text-align: center;
	text-decoration: underline;
}

.abtus-content p {
	text-indent: 5%;
}

.profile {
	width: 100%;
	float: left;
	box-sizing: border-box;
	margin: auto;
}

.prof-column {
	float: left;
	margin: auto;
	display: block;
}

.prof-card {
	float: center;
	border: solid;
	border-color: #d63c2d;
	background-color: #ffa5a5;
	width: 96.5%;
	margin: auto;
	text-align: center;
}

.prof-card img {
	display: block;
	margin: auto;
}

.pdetail {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 100px 250px 10px;
	text-align: center;
}

.button {
	background-color:  #7e1616;
	color: #ffffff;
  	border: none;
  	padding: 15px 32px;
	margin: 8px;
  	text-align: center;
  	text-decoration: none;
  	display: block;
  	cursor: pointer;
  	float: left;
	border-radius: 8px;
}

.button a {
	text-decoration: none;
	color: #ffffff;
}

.nav-menu-bar a {
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	border-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.bottom-nav-bar a {
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	border-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.nav-menu-bar a.active {
	color: #b22222;
}

.nav-menu-bar a:hover {
	color: #1338be;
}

.footer {
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.footer p {
	margin: auto;
	text-align: center;
	
}
.footer-stick {
	float: left;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footer-stick p {
	margin: auto;
	text-align: center;
}

.bottom-nav-bar {
	float: right;
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
}

.bottom-nav-bar a.active {
	color: #5dbb63;
}

.bottom-nav-bar a:hover {
	color: #a45ee5;
}

.container {
	display: block;
    margin: 0 auto;
    text-align: center;
}

.add-cart {
	background-color: #b31616;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    margin: auto;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
}

.buy-now {
	background-color: #b31616;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    margin: auto;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
}

.cart {
	display: inline-block;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 30px;
	padding: 15px 32px;
	margin: auto;
	text-decoration: none;
}

.cart img {
	width: 3%;
	height: auto
}


@media screen and (min-width: 1024px) {
	.header img {
		height: 125px;
		width: 250px;
	}
	
	.header-navbar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: auto;
	}
	
	.header-navbar a, .selectlist-content a {
		float: left;
		border: solid;
		padding: 6px;
		margin: 0 2px;
		font-size: 18px;
	}
	
	.footer-navbar {
		bottom: 0px;
		right: 0px;
		float: right;
		position: fixed;
	}
	
	.footer-navbar a {
		float: left;
		padding: 14px 16px;
		font-size: 16px;
	
	} 
	
	.products{
		text-align: center;
	}

	.footer {
		float: left;
		width: 100%;
	}
	
	.footer p {
		font-size: 16px;
		margin: auto;
		text-align: center;	
	}
	
	.selectlist {
		float: left;
		overflow: hidden;
	}
	
	.selectlist .dropbtn {
		padding: 6px;
		margin: 0 2px;
		border: solid;
		font-size: 18px;
	}

	.selectlist-content {
		position: absolute;
		min-width: 160px;
		z-index: 1;
	}
	  
	.selectlist-content a {
		float: none;
		font-size: 16px;
	}
	
	.products-general {
		font-size: 16px;
	}
	
	.products {
		font-size: 20px;
	}
	
	.plist {
		float: left;
		padding-bottom: 25px;
		box-sizing: border-box;
		width: 100%;
		overflow-y: auto;
		flex-direction: row;
		display: flex;
	}
	.pcolumn {
		float: left;
		width: 50%;
		min-width: 24%;
		display: block;
	}
	
	.column-browse {
		float: left;
		margin: 0 auto;
		width: 50%;
	}
	
	.pcard-box {
		margin: 8px;
	}
	
	.products-categories {
		font-size: 23px;
	}
	
	.form_p {
		text-align: right;
		padding: 10px;
	}
	
	.form_p textarea {
		width: 100%;
	}
	
	.form {
		margin: 10px 100px;
		padding: 10px;
	}
	
	.form h1 {
		font-size: 40px;
	}
	
	.pptos {
		padding: 10px;
		margin:10px 100px;
	}
		
	.prof-column {
		width: 33.33%;
	}
	
	.abtus-content h2 {
		font-size: 24px;
	}
	
	.abtus-content p {
		font-size: 18px;
	}
	
	.profile {
		width: 100%;
		float: left;
		margin: auto;
	}
	
	.prof-column {
		float: left;
		margin: auto;
	}
	
	.prof-card {
		float: center;
		width: 96.5%;
		margin: auto;
	}
	
	.prof-card img {
		margin: auto;
	}
	
	.pdetail {
		margin: auto;
		font-size: 22px;
	}
	
	.button {
		padding: 15px 32px;
		margin: 8px;
		float: left;
		border-radius: 8px;
	}
	
	.nav-menu-bar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: auto;
	}
	
	.bottom-nav-bar a {
		font-size: 22px;
		padding: 0 12px;
	}
	
	.footer p {
		font-size: 16px;
	}
	
	.footer-stick p {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.header img {
		height: 100px;
		width: 200px;
	}
	
	.header-navbar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: auto;
	}
	
	.header-navbar a, .selectlist-content a {
		float: left;
		border: solid;
		padding: 4px;
		margin: 0 2px;
		font-size: 16px;

	}
	
	.footer-navbar {
		font-size: 25px;
		padding: 0 10px;
	}
	
	.footer-navbar a {
		padding: 0px 10px;
		font-size: 25px;
	} 

	.footer {
		float: left;
		width: 100%;
	}
	
	.footer p {
		font-size: 18px;
		margin: auto;
		text-align: center;	
	}
	
	.selectlist {
		float: left;
		overflow: hidden;
	}
	
	.selectlist .dropbtn {
		padding: 4px;
		margin: 0 2px;
		border: solid;
		font-size: 16px;
	}

	.selectlist-content {
		position: absolute;
		min-width: 160px;
		z-index: 1;
	}
	  
	.selectlist-content a {
		float: none;
		font-size: 14px;
	}
	
	.products{
		font-size: 22px;
	}
	
	.products-general {
		font-size: 18px;
	}
	.pcolumn {
		padding: 0 8px;
		font-size: 12px;
		min-width: 35%;
	}
	
	.pcolumn-browse {
		padding: 0 16px;
	}
	
	.pcard-box {
		margin: 10px;
	}
	
	.products-categories {
		font-size: 25px;
	}
	
	.form p {
		text-align: right;
		padding: 10px;
		font-size: 25px;
	}
	.form {
		width: 70%;
	}
	
	.form h1 {
		margin: 14px auto;
		padding: 8px;
	}
	
	.form input[type=radio] {
		width: 5%;
	}
	
	.form input[type=checkbox] {
		width: 4.75%;
	}
	.pptos {
		margin: 20px auto;
		width: 80%;
	}
	
		
	.prof-column {
		width: 33.33%;
	}
	
	.abtus-content h2 {
		font-size: 24px;
	}
	
	.abtus-content p {
		font-size: 18px;
	}
	.prof-column {
		width: 33.33%;
	}
	
	.abtus-content h2 {
		font-size: 20px;
	}
	
	.abtus-content p {
		font-size: 16px;
	}
	
	.pdetail {
		margin: auto;
		font-size: 20px;
	}
	
	.button {
		font-size: 22px;
		padding: 15px 32px;
		margin: 8px;
		float: left;
		border-radius: 8px;
	}
	
	.bottom-nav-bar a {
		font-size: 22px;
		padding: 0 12px;
	}
	
	.footer p {
		font-size: 16px;
	}
	
	.footer-stick p {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.header img {
		height: 75px;
		width: 150px;
	}
	
	.header-navbar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: 20%;	
	}
	
	.header-navbar a, .selectlist, .selectlist-content a {
		font-size: 15px;
		text-align: center;
		margin-bottom: 4px;
		display: block;
		text-decoration: none;
	}
	
	.bottom-nav-bar a {
		font-size: 14px;
		padding: 0 6px;
	}
	
	.footer p {
		font-size: 12px;
		padding-bottom: 20px;
	}
	
	.footer-stick p {
		font-size: 12px;
		padding-bottom: 20px;
	}
	
	.title {
		font-size: 8px;
	}
	
	.pcolumn {
		padding: 0 4px;
		font-size: 10px;
		min-width: 47.75%;
	}
	
	.pcolumn-browse {
		padding: 0 12px;
	}
	
	.pcard-box {
		padding: 8px;
	}
	
	.login a {
		width: 32%;
		padding: 6px;
		margin: 8px 0;
		font-size: 12px;
	}
	
	.fpass a {
		padding: 6px;
		margin: 8px 0;
		font-size: 12px;
	}
	
	.form {
		width: 80%;
	}
	
	.form h1 {
		margin: 12px auto;
		padding: 6px;
		font-size: 20px;
	}
	
	.form input[type=radio] {
		width: 8%;
	}
	
	.form input[type=checkbox] {
		width: 5.5%;
	}
	
	.pptos {
		margin: 15px auto;
		width: 85%;
	}
	
	.thanku p {
		font-size: 16px;
	}
	
	.thanku a {
		padding: 8px;
		margin: 8px 0;
		font-size: 14px;
	}
	
	.prof-column {
		width: 100%;
	}
	
	.abtus-content {
		overflow-y: hidden;
	}
	
	.abtus-content h2 {
		font-size: 16px;
	}
	
	.abtus-content p {
		font-size: 14px;
	}
	
	.bottom-nav-bar a {
		font-size: 18px;
		padding: 0 10px;
	}
	
	.footer p {
		font-size: 14px;
		padding-bottom: 20px;
	}
	
	.footer-stick p {
		font-size: 14px;
		padding-bottom: 20px;
	}
	
	.pdetail {
		margin: auto;
		font-size: 20px;
	}
}
