.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.header-navbar {
	float: right;
}
.header-navbar a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    background-color: rgb(111, 198, 238);
    color: white;
    font-size: 16px;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
}

.header-navbar a:hover {
    background-color: crimson;
    color: yellow;
}

.header-navbar a.active {
    background-color: grey;
    color: coral;
}

.footer-navbar {
    bottom: 0px;
    right: 0px;
    background-color:rgb(197, 189, 189);
	float: right;
	position: fixed;
}

.footer-navbar a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    background-color: transparent;
    color: black;
    font-size: 16px;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
} 

.footer-navbar a:hover {
    background-color: crimson;
    color: yellow;
}

.footer-navbar a:active {
    background-color: grey;
    color: coral;
}