.header {
	float: left;
	padding-bottom: 12px;
	display: inline-block;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
}

.header-navbar {
	float: right;
	right: 0;
	top: 0;
	position: absolute;
}
.header-navbar a {
    float: left;
    padding: 14px 16px;
    background-color: #6fc6ee;
    color: #ffffff;
    font-size: 18px;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
}

.header-navbar a:hover {
    background-color: crimson;
    color: yellow;
}

.header-navbar a.active {
    background-color: grey;
    color: coral;
}

.footer-navbar {
    bottom: 0px;
    right: 0px;
    background-color:rgb(197, 189, 189);
	float: right;
	position: fixed;
}

.footer-navbar a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    background-color: transparent;
    color: black;
    font-size: 16px;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
} 

.footer-navbar a:hover {
    background-color: crimson;
    color: yellow;
}

.footer-navbar a:active {
    background-color: grey;
    color: coral;
}