.header {
    display: inline-block;
    top: 0px;
    left: 0px;
    background-color: yellowgreen;
    width: 100%;
}

.header-navbar a {
    float: right;
    padding: 14px 14px;
    text-align: center;
    background-color: rgb(111, 198, 238);
    color: black;
    font-size: 17px;
}

.header-navbar a:hover {
    background-color: crimson;
    color: yellow;
}

.header-navbar a:active {
    background-color: grey;
    color: coral;
}

.footer {
    display: inline-block;
    bottom: 0px;
    right: 0px;
    background-color:rgb(197, 189, 189);
    width: 100%;
}

.footer-navbar a {
    float: left;
    padding: 14px 14px;
    text-align: center;
    background-color:transparent;
    color: black;
    font-size: 17px;
} 

.footer-navbar a:hover {
    background-color: crimson;
    color: yellow;
}

.footer-navbar a:active {
    background-color: grey;
    color: coral;
}

.list {
	padding-bottom: 25px;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}

.title {
	float: left;
	width: 20%;
	border-style: solid;
	margin: 0 10px;
	box-sizing: border-box;
	padding: 0 16px;
	font-size: 12px;
	text-align: center;
	border-color: #000000;
	background-color: #67569b;
	color: #ffffff;
}

.column {
	float: left;
	width: 20%;
	padding: 0 20px;
}

.card-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	text-align: center;
	background-color: #d0dbd1;
	box-sizing: border-box;
}