* {
	font-family: "Helvetica", sans-serif;
}

.nav-menu-bar {
	z-index: 1;
}

.nav-menu-bar a {
	text-decoration: none;
	border-style: solid;
	color: #000000;
	background-color: #ffffff;
}

.bottom-nav-bar {
	z-index: 1;
}

.bottom-nav-bar a {
	text-decoration: none;
	border-style: solid;
	color: #000000;
	background-color: #ffffff;
	}

.nav-menu-bar a.active {
	color: #b22222;
}

.nav-menu-bar a:hover {
	color: #1338be;
}

.header img {
	border: solid;
}

.footer {
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.footer p {
	margin: auto;
	text-align: center;
	
}
.footer-stick {
	float: left;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footer-stick p {
	margin: auto;
	text-align: center;
	
}

.bottom-nav-bar {
	float: right;
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
}

.bottom-nav-bar a.active {
	color: #5dbb63;
}

.bottom-nav-bar a:hover {
	color: #a45ee5;
}

.list {
	float: left;
	padding-bottom: 25px;
	box-sizing: border-box;
	display: flex;
}

.fixed-list {
	float: left;
	padding-bottom: 25px;
	box-sizing: border-box;
	margin: auto;
	width: 100%;
}

.list {
	animation: autoscroll 10s infinite linear;
}

.title {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border-style: solid;
	box-sizing: border-box;
	text-align: center;
	border-color: #000000;
	background-color: #028a0f;
	color: #ffffff;
}

.column {
	float: left;
}

.fixed-column {
	float: left;
	width: 30.9%;
	margin: auto;
}

.list-browse {
	float: left;
	padding: 15px 0;
	box-sizing: border-box;
	width: 100%;
}

.column-browse {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

.card-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	background-color: #fafafa;
	box-sizing: border-box;
}

.card-box a {
	font-weight: bold;
	text-decoration: none;
	color: #710c04;
}

.card-box a:hover {
	opacity: 0.8;
}

.card-box b {
	color: #1338be;
}

.card-box-border {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	background-color: #fafafa;
	box-sizing: border-box;
	border: solid;
	border-width: thin;
}

.form {
	margin: 25px auto;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.form table, tr, th, td {
	border: solid;
	border-collapse: collapse;
}

.form tr, th, td {
	width:33.3%;
	padding: 8px;
}
.form th {
	background-color: #ffffff;
}

.form td {
	text-align: center;
	background-color: #ffcccb;
}

.form h1 {
	width: 50%;
	border-style: solid;
	border-color: #000000;
	text-align: center;
	background-color: #710c04;
	color: #ffffff;
}

.form input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 16px;
}

.form input:focus {
	background-color: #f5f5f5;
}

.form input:hover {
	opacity: 0.8;
}

.form a, input[type=reset], input[type=submit] {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #a91b0d;
	color: #ffffff;
	text-decoration: none;
	border: none;
}

.form a:hover, input[type=reset]:hover, input[type=submit]:hover {
	background-color: #e2252b;
	color: #000000;
}

.form select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

.form textarea {
	resize: none;
	width: 99%;
}

.thanku {
	margin: 25px auto;
	width: 50%;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.thanku p {
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}

.thanku a {
	width: 100%;
	display: block;
	text-align: center;
	box-sizing: border-box;
	background-color: #a91b0d;
	color: #ffffff;
	text-decoration: none;
}

.thanku a:hover {
	background-color: #e2252b;
	color: #000000;
}

.login {
	margin: 25px auto;
	width: 60%;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.login input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 16px;
}

.login input:focus {
	background-color: #f5f5f5;
}

.login input:hover {
	opacity: 0.8;
}

.login a, input[type=submit] {
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	background-color: #a91b0d;
	color: #ffffff;
	text-decoration: none;
	margin: auto;
}

.login a:hover {
	background-color: #e2252b;
	color: #000000;
}

.fpass {
	margin: 25px auto;
	width: 60%;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.fpass input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 16px;
}

.fpass input:focus {
	background-color: #f5f5f5;
}

.fpass input:hover {
	opacity: 0.8;
}

.fpass a {
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	background-color: #a91b0d;
	color: #ffffff;
	text-decoration: none;
	width: 100%
}

.fpass a:hover {
	background-color: #e2252b;
	color: #000000;
}

.pptos {
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.pptos h2 {
	text-align: center;
}

.pptos a {
	text-decoration: none;
	color: #d21502;
}

.profile {
	width: 100%;
	float: left;
	box-sizing: border-box;
	margin: auto;
}

.prof-column {
	float: left;
	margin: auto;
}

.prof-card {
	float: center;
	border: solid;
	border-color: #d63c2d;
	background-color: #ffa5a5;
	width: 96.5%;
	margin: auto;
	text-align: center;
}

.prof-card img {
	display: block;
	margin: auto;
}

.prof-card img:hover {
	opacity: 0.85;
}

.abtus-content {
	width: 95%;
	margin: auto;
	float: center;
	border-style: solid;
	padding: 10px;
	background-color: #fffdd0;
}

.abtus-content h2 {
	text-align: center;
	text-decoration: underline;
}

.abtus-content p {
	text-indent: 5%;
}

.mod-win {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.mod-content {
	background-color: #f5f5dc;
	margin: auto;
	border-style: solid;
	width: 80%;
	animation: fadein 1s;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

.error {
    color: #ff0000;
}

.error-border {
    opacity: 0.5;
	background-color: #ff0000;
	color: #ffffff;
}

@media screen and (min-width: 1024px) {
	.header img {
		height: 125px;
		width: 250px;
	}
	
	.nav-menu-bar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: auto;
	}
	
	.nav-menu-bar a {
		font-size: 22px;
		padding: 0 12px;
	}
	
	.bottom-nav-bar a {
		font-size: 22px;
		padding: 0 12px;
	}
	
	.footer p {
		font-size: 16px;
	}
	
	.footer-stick p {
		font-size: 16px;
	}
	
	.title {
		font-size: 12px;
	}
	
	.column, .fixed-column {
		padding: 0 12px;
		font-size: 14px;
	}
	
	.column {
		min-width: 25%;
	}
	
	@keyframes autoscroll {
		100% {
			transform: translateX(-160%);
		}
	}

	.column-browse {
		padding: 0 20px;
	}

	.list:hover {
		animation-play-state: paused;
	}

	.card-box {
		padding: 12px;
	}
	
	.login a, input[type=submit], .form input[type=reset], input[type=submit] {
		padding: 10px;
		font-size: 20px;
	}
	
	.login a {
		width: 49.55%;
	}
	
	.fpass a {
		padding: 10px;
		margin: 12px 0;
		font-size: 20px;
	}
	
	.form {
		width: 60%;
	}
	
	.form h1 {
		margin: 16px auto;
		padding: 8px;
	}
	
	.form input[type=radio] {
		width: 5%;
	}
	
	.form input[type=checkbox] {
		width: 2.65%;
	}
	
	.pptos {
		margin: 25px auto;
		width: 75%;
	}
	
	.thanku p {
		font-size: 20px;
	}
	
	.thanku a {
		padding: 12px;
		margin: 12px 0;
		font-size: 18px;
	}
	
	.prof-column {
		width: 33.33%;
	}
	
	.abtus-content h2 {
		font-size: 24px;
	}
	
	.abtus-content p {
		font-size: 18px;
	}
	
	.mod-win {
		padding-top: 10%;
	}
	
	.mod-content {
		padding: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.header img {
		height: 100px;
		width: 200px;
	}
	
	.nav-menu-bar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: auto;
	}
	
	.nav-menu-bar a {
		font-size: 18px;
		padding: 0 10px;
	}
	
	.bottom-nav-bar a {
		font-size: 18px;
		padding: 0 10px;
	}
	
	.footer p {
		font-size: 14px;
		padding-bottom: 20px;
	}
	
	.footer-stick p {
		font-size: 14px;
		padding-bottom: 20px;
	}
	
	.title {
		font-size: 10px;
	}
	
	.column, .fixed-column {
		padding: 0 8px;
		font-size: 12px;
	}
	
	.column {
		min-width: 35%;
	}
	
	@keyframes autoscroll {
		100% {
			transform: translateX(-220%);
		}
	}
	
	.column-browse {
		padding: 0 16px;
	}

	.list:hover {
		animation-play-state: paused;
	}

	.card-box {
		padding: 10px;
	}
	
	.login a, input[type=submit], .form input[type=reset], input[type=submit] {
		padding: 8px;
		font-size: 16px;
	}
	
	.login a {
		width: 49.5%;
	}
	
	.fpass a {
		padding: 8px;
		margin: 10px 0;
		font-size: 16px;
	}
	
	.form {
		width: 70%;
	}
	
	.form h1 {
		margin: 14px auto;
		padding: 8px;
	}
	
	.form input[type=radio] {
		width: 5%;
	}
	
	.form input[type=checkbox] {
		width: 4.75%;
	}
	
	.pptos {
		margin: 20px auto;
		width: 80%;
	}
	
	.thanku p {
		font-size: 18px;
	}
	
	.thanku a {
		padding: 10px;
		margin: 10px 0;
		font-size: 16px;
	}
	
	.prof-column {
		width: 33.33%;
	}
	
	.abtus-content h2 {
		font-size: 20px;
	}
	
	.abtus-content p {
		font-size: 16px;
	}
	
	.mod-win {
		padding-top: 20%;
	}
	
	.mod-content {
		padding: 16px;
	}
}

@media screen and (max-width: 767px) {
	.header img {
		height: 75px;
		width: 150px;
	}
	
	.nav-menu-bar {
		float: right;
		right: 0;
		top: 0;
		position: fixed;
		width: 20%;	
	}
	
	.nav-menu-bar a {
		font-size: 15px;
		text-align: center;
		margin-bottom: 4px;
		display: block;
		text-decoration: none;
	}
	
	.bottom-nav-bar a {
		font-size: 14px;
		padding: 0 6px;
	}
	
	.footer p {
		font-size: 12px;
		padding-bottom: 20px;
	}
	
	.footer-stick p {
		font-size: 12px;
		padding-bottom: 20px;
	}
	
	.title {
		font-size: 8px;
	}
	
	.column, .fixed-column {
		padding: 0 4px;
		font-size: 10px;
	}
	
	.column {
		min-width: 33.33%;
	}
	
	@keyframes autoscroll {
		100% {
			transform: translateX(-206%);
		}
	}
	
	.column-browse {
		padding: 0 12px;
	}

	.card-box {
		padding: 8px;
	}
	
	.login a, input[type=submit], .form input[type=reset], input[type=submit] {
		padding: 6px;
		font-size: 12px;
	}
	
	.login a {
		width: 48.75%;
	}
	
	.fpass a {
		padding: 6px;
		margin: 8px 0;
		font-size: 12px;
	}
	
	.form {
		width: 80%;
	}
	
	.form h1 {
		margin: 12px auto;
		padding: 6px;
		font-size: 20px;
	}
	
	.form input[type=radio] {
		width: 8%;
	}
	
	.form input[type=checkbox] {
		width: 5.5%;
	}
	
	.pptos {
		margin: 15px auto;
		width: 85%;
	}
	
	.thanku p {
		font-size: 16px;
	}
	
	.thanku a {
		padding: 8px;
		margin: 8px 0;
		font-size: 14px;
	}
	
	.prof-column {
		width: 100%;
	}
	
	.abtus-content {
		overflow-y: hidden;
	}
	
	.abtus-content h2 {
		font-size: 16px;
	}
	
	.abtus-content p {
		font-size: 14px;
	}
	
	.mod-win {
		padding-top: 30%;
	}
	
	.mod-content {
		padding: 12px;
	}
}
