.header {
	float: left;
	padding-bottom: 12px;
	display: inline-block;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
}

.nav-menu-bar {
	float: right;
	right: 0;
	top: 0;
	position: absolute;
}

.nav-menu-bar a {
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
	border-style: solid;
	font-size: 22px;
	padding: 0 12px;
	color: #000000;
	background-color: #ffffff;
}

.nav-menu-bar a.active {
	color: #b22222;
}

.nav-menu-bar a:hover {
	color: #1338be;
}

.bottom-nav-bar {
	float: right;
	right: 0;
	bottom: 0;
	position: flex;
}

.bottom-nav-bar a {
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
	border-style: solid;
	font-size: 22px;
	padding: 0 12px;
	color: #000000;
	background-color: #ffffff;
}

.bottom-nav-bar a.active {
	color: #b22222;
}

.bottom-nav-bar a:hover {
	color: #a45ee5;
}

.main {
	font-family: "Helvetica", sans-serif;
}

.list {
	float: left;
	padding-bottom: 25px;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}
.title {
	float: left;
	width: 18%;
	border-style: solid;
	margin: 0 10px;
	box-sizing: border-box;
	padding: 0 16px;
	font-size: 12px;
	text-align: center;
	border-color: #000000;
	background-color: #028a0f;
	color: #ffffff;
}

.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}

.row {
	margin: 0 -5px;
}

.row:after {
	content: "";
	display: table;
}

.card-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	text-align: center;
	background-color: #fafafa;
	box-sizing: border-box;
}

.split {
	margin-top: 25px;
}